/* ここから下に記載していく */
@charset "utf-8";
html{
    font-size: 62.5%;/* 16px × 62.5% = 10px*/
}

body{
    color: #222222;
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size: 1.6rem;  
}

img{
    max-width: 100%;
    height: auto;
}
.text-center{
    text-align: center;
}
.wrapper{
    max-width: 1200px;
    margin: auto;
}

.title-e{
    margin: 0 0 30px;
    font-size: 2.4rem;
    font-weight: bold;
}

.title-j{
    margin: 0 0 60px; 
    font-size: 1.8rem;
    line-height: 2;
}

/* ------------------
    header
 *------------------ */
.header-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 121px;
}
.nav-list{
    display: flex;
}
.nav-item{
    margin: 0 50px 0 0;
    font-size: 2.1rem;
}
.nav-item>a{
    text-transform: uppercase;
}
.logo{
    padding: 0 0 0 50px;
}

/* ------------------
    main visual
 *------------------ */
 .visual{
    position: relative;
 }
.visual__position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}
 .visual__text1{
    padding: 0 0 30px;
    color: #fff;
    font-size: 3.7rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.visual__text2{
    color: #fff;
    font-size: 2.8rem;
    font-weight: normal;
    letter-spacing: 0.1em;
}


 /* ------------------
    about
 *------------------ */
 .about{
    padding: 60px 0;
 }
.about__title-e{
    margin: 0 0 30px;
    color: #ffd61a;
    font-size: 2.4rem;
    font-weight: bold;
}

.about__text1{
    margin: 0 0 40px;
    line-height: 2; 
}
.about__text2{
    margin: 0 0 80px;
    line-height: 2;  
}
/* fix show */
/* .about__list{
    display: flex;
} */
/* .about__img{
    width: 100%;
} */
/* fix show */

/* slide show */
.slider {
    width: 385px;
    height: 255px;
    overflow: hidden;
    margin: 0 auto;
  
  }
  .about__img {
    width: 385px;
    float: left;
  }
  img{
    width:100%;
  }
  .about__list {
    width: 400%;
    animation: slider 20s infinite ease;
  }
  
  @keyframes slider {
      0% {
      transform: translateX(0);
      }
      25% {
      transform: translateX(-385px);
      }
      50% {
      transform: translateX(-770px);
      }
      75% {
      transform: translateX(-1155px);
      }
      100% {
      transform: translateX(0);
      }
  }

/* slide show */

/* ------------------
    course
 *------------------ */

 .course-list{
    display: flex;
}
.course__title{
    margin: 0 0 40px;
    font-size: 2.4rem;
    font-weight: bold;  
}
.course__text{
    font-size: 1.6rem;
    line-height: 2;
}
.course__img{
    width: 600px;
    height: auto;
}
.course__1{
    width: 480px;
    margin: 120px 0 0 50px;
}
.course__2{
    width: 480px;
    margin: 120px 0 0 120px;
}

/* ------------------
    news
 *------------------ */
 .news__wrapper{
    max-width: 960px;
    margin: auto;
}
.news{
    padding: 60px 0;
 }
 .news__list{
    display: flex;
    margin: 0 0 60px;
 }
 .news__item{
    width: 300px;
    margin: 0 30px 0 0;    
 }
 .news__img{
    margin: 0 0 30px;
    width: 300px;
 }
 .news__date{
    margin: 0 0 24px;
 }
 .news__text{
    font-size: 1.4rem;
    line-height: 1.75
    ;
}
.btn{
    display: block;
    width: 300px;
    margin: auto;
    padding: 21px 0;
    background-color: #ffd61a;
    color: #fff;
    font-size: 1.8rem;
}

 /* ------------------
    access
 *------------------ */
 .access{
    padding: 60px 0;
 }
 .access-map{
    padding: 0 0 60px;
 }
 .access-wrapper{
    width: 640px;
    margin: 0 0 0 300px;
 }
 .access-inner{
    display: flex;
    flex-wrap: wrap;
  }
 .access-title{
    width: 110px;
    height: 50px;
    margin: 0 0 0 50px;
    text-align: left;
}
.access-item{
    width: 370px;
    height: 50px;
    margin: 0 0 0 100px;
}

/* ------------------
    contact
 *------------------ */
 .contact-wrapper{
    width: 640px;
    margin: auto;
 }
 .contact{
    padding: 0 0 140px;
 }
 .contact__text1{
    margin: 0 0 30px;
    line-height: 2; 
}
.contact__text2{
    margin: 0 0 70px;
    line-height: 2; 
}
.form-inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px;
}
.form-title{
    width: 160px;
    padding: 18px 64px 18px 16px;
    font-weight: bold;
    line-height: 1;  
    border: solid 1px #bfbfbf;
    border-left: none;
}
.form-title2{
    width: 160px;
    padding: 6px 64px 6px 16px;
    font-weight: bold;
    line-height: 1.5;  
    border: solid 1px #bfbfbf;
    border-left: none;
}
.form-item{
    box-sizing: border-box;
    width: 392px;
    padding: 8px 0 8px 8px;
    border: solid 1px #bfbfbf;
    border-right: none;
}
.form-parts{
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 320px;
    height: 36px;
    padding: 8px 8px;
    border: solid 1px #bfbfbf;
    font-size: 1.6rem;
}
.form-item__detail{
    box-sizing: border-box;
    width: 392px;
    padding: 8px 0 8px 8px;
    border: solid 1px #bfbfbf;
    border-right: none;
}
.form-parts__detail{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px;
    border: solid 1px #bfbfbf;
    font-size: 1.6rem;
}

input[type*="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
    border: solid 1px #707070;
}
input[type*="checkbox"]:checked{
    background-color: #707070;
}
.form-select{
    width: 395px;
    margin: 0px 0 24px 0 
}

.btn-submit{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
}
.hover1:hover {
	opacity: 0.8;
    background: red
}

.hover2:hover {
	opacity: 1;
    background: pink
}
.hover3:hover {
	color: red      
}
 /* ------------------
    footer
 *------------------ */

 .footer{
    padding: 30px 0;
    background-color: #707070;
    color: #fff;
 }
